django
djangorestframework
pyyaml
requests
django-cors-headers
psycopg
psycopg-binary
djangorestframework-simplejwt
cos-python-sdk-v5
djangorestframework-recursive
python-dotenv
Pillow
django-simple-history
drf-standardized-errors